h1{
    font-family: Georgia, serif;
    color: #404050;
    text-align: center;
    padding-top: 25px;

}

body{
    font-family: Georgia, serif;
    background-color: #cceedd;
    text-align: center;
}
